<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<startup>
		<supportedRuntime version ="v4.0" sku=".NETFremwork,Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="username" value=""/>
		<add key="password" value=""/>
		<add key="token" value="TsLxmAO9tvcTH3ciba3RdbeQP"/>
		<add key="clientId" value="3MVG9X12xD2kqQman8DJNEQSNqWZdTBzGEKwyYb5lNKwbWVtHUr..uzzp4VaGbafy.A8sf6EccWzgyAqQkjTg"/>
		<add key="clientSecret" value="D713EBE1FD515A283FE3E87E553B9A6148B4AF3A0DC111163283A956B93564E4"/>
		<add key="access_token" value=""/>
		<add key="instance_url" value=""/>
	</appSettings>

</configuration>
