@model Account
@{
    ViewData["Title"] = "Create Account";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CRUD App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="getAccount">Accounts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-center">
    <form method="post" id="myForm1" asp-action="createAccount" asp-controller="Home">
        <table class="table table-bordered table-responsive table-hover">
            <tbody>
                <tr>
                    <td width="50%"><label for="name" class="col-sm-2 col-form-label"> Name</label></td>
                    <td><input width="500px" type="text" id="name" name="name" asp-for="Name" required /></td>
                </tr>
                <tr>
                    <td><label for="region">Region</label></td>
                    <td>
                        <select name="Region__c" id="region">
                            <option value="">---None---</option>
                            <option value="Americas">Americas</option>
                            <option value="EMEA">EMEA</option>
                            <option value="APAC">APAC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="rating">Customer Rating</label></td>
                    <td>
                        <select name="Customer_Rating__c" id="rating">
                            <option value="">---None---</option>
                            <option value="Gold">Gold</option>
                            <option value="Silver">Silver</option>
                            <option value="Bronze">Bronze</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="type">Type</label></td>
                    <td>
                        <select name="type" id="type">
                            <option value="">---None---</option>
                            <option value="Analyst">Analyst</option>
                            <option value="Competitor">Competitor</option>
                            <option value="Customer">Customer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="Phone"> Phone</label></td>
                    <td><input type="text" id="Phone" name="Phone" /></td>
                </tr>
                <tr>
                    <td><label for="Fax"> Fax</label></td>
                    <td><input type="text" id="Fax" name="Fax" /></td>
                </tr>
                <tr>
                    <td><label for="serialNum"> SLA Serial Number</label></td>
                    <td><input type="text" id="serialNum" name="Apttus_Billing__SLASerialNumber__c" /></td>
                </tr>
                <tr>
                    <td><label for="billingCity"> Billing City</label></td>
                    <td><input type="text" id="billingCity" name="billingCity"/></td>
                </tr>
                <tr>
                    <td><label for="billingState"> Billing State</label></td>
                    <td><input type="text" id="billingState" name="billingState"/></td>
                </tr>
                <tr>
                    <td><label for="billingCountry"> Billing Country</label></td>
                    <td><input type="text" id="billingCountry" name="billingCountry"/></td>
                </tr>
            </tbody>
        </table>
        
        <input type="submit" id="submit" name="submit" value="Submit" />
    </form>
   
    <form asp-action="logout" asp-controller="Login" method="post">
        <input type="submit" id="submit" name="submit" value="Logout" />
    </form>
    <script type="text/javascript">

        function formSubmitHandler(evt) {
            var name = this.elements.name;
            var region = this.elements.region;
            var rating = this.elements.rating;
            var type = this.elements.type;
            var Phone = this.elements.Phone;
            var Fax = this.elements.Fax;
            var serialNum = this.elements.serialNum;
            var billingCity = this.elements.billingCity;
            var billingState = this.elements.billingState;
            var billingCountry = this.elements.billingCountry;
            //alert("ALERT!!!");
            var newAcc = { "Name": name.value, "Region__c": region.value, "Customer_Rating__c": rating.value, "Type": type.value, "Phone": Phone.value, "Fax": Fax.value, "Apttus_Billing__SLASerialNumber__c": serialNum.value, "BillingCity": billingCity.value, "BillingState": billingState.value, "BillingCountry": billingCountry.value };
            //alert("ALERT!!!" + newAcc.Name + "--" + JSON.stringify(newAcc));
            $.post("/Home/createAccount", { input: JSON.stringify(newAcc) }, function (response) {
                alert("RESPONSE::"+response);
            });
            
        }
        document.getElementById('myForm').addEventListener('submit', formSubmitHandler);
    </script>
</div>