@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <form asp-action="login1" asp-controller="Login" method="post">
        <h3>Username:</h3>
        <input type="text" id="username" name="username" required/>
        <h3>Password:</h3>
        <input type"password" id="password" name="password" required/><br />
        <input type="submit" id="submit" name="submit" value="Submit"/>
    </form>
</div>