@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="text-center">
<div><b>Quotes</b><br /></div>

    @if (ViewBag.quoteDetail != null)
    {
        <div class="text-center">
            <h4>Id:</h4> <h5>@ViewBag.quoteDetail.Id</h5>
            <h4>Name:</h4> <h5>@ViewBag.quoteDetail.Name</h5>
        </div>
    }
<form asp-action="logout" asp-controller="Login" method="post">
    <input type="submit" id="submit" name="submit" value="Logout" />
</form>
</div>