

@{
    ViewData["Title"] = "Home Page";
    //asp-all-route-data
}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CRUD App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="getAccount">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div><b>Quotes</b><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <thead>
        <tr>
            <th>Quote Name </th>
            <th>Proposal Stage</th>
            <th>Proposal Net Amount</th>
        </tr>
        </thead>
        <tbody id="tBody"></tbody>
    </table>
    <button id="Previous" onclick="previous()">Previous</button>
    <button id="Next" onclick="next()">Next</button>

    <script type="text/javascript">
        let pageNum = 1;
        const pageSize = 10;
        var totalPage = parseFloat('@ViewBag.TotalQuotes') / parseFloat(pageSize);
        console.log("Total::" + totalPage +"--"+ Math.ceil(parseFloat(totalPage)));
        
        console.log("In Script::" + pageSize + "::" + pageNum);
        callAPI();
        function previous() {
            pageNum = pageNum - 1;
            console.log("Previous::" + pageSize + "::" + pageNum);
            callAPI();
        }
        function next() {
            pageNum = pageNum + 1;
            console.log("Next::" + pageSize + "::" + pageNum);
            callAPI();
        }
        function callAPI() {
            console.log("CallAPI::" + pageSize + "::" + pageNum);
            if (pageNum == '1') {
                console.log("1st Page");
                document.getElementById("Previous").disabled = true;
            } else {
                document.getElementById("Previous").disabled = false;
            }
            if (pageNum == (Math.ceil(parseFloat(totalPage)))){
                console.log("1st Page");
                document.getElementById("Next").disabled = true;
            } else {
                document.getElementById("Next").disabled = false;
            }
            $.get("/Home/quoteList", { pageNum: pageNum, pageSize: pageSize }, function (response) {
                console.log("DATA::" + JSON.stringify(response));
                if (response != null) {
                    $("#tBody").empty();
                    var datacontent = "";
                    for (var i = 0; i < response.length; i++) {
                        console.log("ID::" + response[i].id);
                        datacontent +=
                            "<tr><td width='270px'>" +
                            "<a href='/Home/singleQuote/" + response[i].id + "'>" + response[i].name + "</a></td>" +
                            "<td width='200px' >" + response[i].apttus_Proposal__Approval_Stage__c + "</td>" +
                            "<td width='200px' >" + response[i].apttus_Proposal__Net_Amount__c + "</td>" +
                            "</tr>";
                    }
                    $("#tBody").append(datacontent);
                }
            });
        }
    </script>

</div>
