@{

    ViewData["Title"] = "Update Account";

}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CRUD App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="getAccount">Accounts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <div><b>Account Detail</b><br /></div>

    
    <div class="text-center">
        <form method="post" id="myForm">
            <input type="text" id="id" name="id" value="@ViewBag.accDetail.Id" hidden />
            <label for="name"> Name:</label>
            <input type="text" id="name" name="name" value="@ViewBag.accDetail.Name" /><br />

            <label for="region">Region:</label>
            <select name="region" id="region">
                <option value="Americas">Americas</option>
                <option value="EMEA">EMEA</option>
                <option value="APAC">APAC</option>
            </select><br />

            <label for="rating">Customer Rating:</label>
            <select name="rating" id="rating" >
                <option value="Gold">Gold</option>
                <option value="Silver">Silver</option>
                <option value="Bronze">Bronze</option>
            </select><br />

            <label for="type">Type:</label>
            <select name="type" id="type">
                <option value="Analyst">Analyst</option>
                <option value="Competitor">Competitor</option>
                <option value="Customer">Customer</option>
            </select><br />

            <input type="submit" id="submit" name="submit" value="Submit" />
        </form>
        <script type="text/javascript">

            function formSubmitHandler(evt) {
                var id = this.elements.id;
                var name = this.elements.name;
                var region = this.elements.region;
                var rating = this.elements.rating;
                var type = this.elements.type;
                alert("ALERT!!!");
                var newAcc = { "Id": id.value,"Name": name.value, "Region__c": region.value, "Customer_Rating__c": rating.value, "Type": type.value };
                alert("ALERT!!!" + newAcc.Id + "--" + JSON.stringify(newAcc));
                $.post("/Home/createAccount", { input: JSON.stringify(newAcc) }, function (data) {
                    console.log("---" + data + "---");
                    alert("DATA-" + data);
                });

            }
            document.getElementById('myForm').addEventListener('submit', formSubmitHandler);
        </script>
    <form asp-action="logout" asp-controller="Login" method="post">
        <input type="submit" id="submit" name="submit" value="Logout" />
    </form>
</div>